footer {
  background: rgba(240,240,240,0.85);
  padding-top: 25px;
  padding-bottom: 30px;
  color: white;
}
.link-social-icon {
  width: 40px;
}

footer .row {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
}
.footer-name {
  margin-top: 15px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 25px;
}
.contato {
  display: inline-block;
  background: #672178;
  width: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 41.25%;
  margin-top: 15px;
  
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.contato:hover {
  color: #b9b94d;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: #b9b94d;
}
