@media (max-width: 1000px) {
  h1 {font-size: 80px !important;;}
  .navbar-brand:not(.navbar-extended) #logo {
    width: 100px;
    margin-bottom: 40px;
  }
  h2 {font-size: 40px;}
  .navbar-toggler, .nav-item {font-size: 60px;}
  
  .post {height: 650px}
  .post_preview_title {font-size: 45px;}
  h4 {font-size: 40px;}
  .post_preview_txt{
    width: 70%;
    height: 400px;
  }
  
  p {font-size: 35px !important;}
  .post-link {
    font-size: 40px;
    width: 99%;
    background-color: black;
  }
  .post-link:hover {background: rgba(50, 50, 50,1);}
  
  .profile-pic {margin-top: 100px;}
  
  .thumb{
    flex-grow: 1;
    height: 600px;
    width: 100%;
  }
  .thumb-title {
    font-size: 40px;
  }
  .thumb-tag {
    font-size: 30px; 
  }
  .thumb-desc {
    font-size: 30px;
  }
  .thumb-bg {
    background-size: cover;
  }
}