@media (max-width: 1000px) {
  h1 {font-size: 80px !important;;}
  #logo {
    width: 100px;
    margin-bottom: 40px;
  }
  h2 {font-size: 40px;}
  .navbar-toggler, .nav-item {font-size: 60px;}
  
  .post {height: 650px}
  .post_preview_title {font-size: 45px;}
  h4 {font-size: 40px;}
  .post_preview_txt{
    width: 70%;
    height: 400px;
  }
  
  p {font-size: 35px !important;}
  .post-link {
    font-size: 40px;
    width: 100%;
  }
}