body {
    background: url("background.jpg");
    background-size: 100%;
}
#top-panel {
    background: rgba(0, 0, 0, 0.75);
    color: white;

    position:relative;
    margin: 0px;
}
.navbar-default { margin : 0 !important; }
.navbar-brand {
    padding-top: 40px;
    margin-bottom: 30px;;
}
#logo {width: 250px;}
h1{
    font-family: 'Le Murmure_Regular';
    font-size: 60px;
    margin-bottom: 10px;
}
h2 {
    color: rgba(255,255,255,0.7);
    font-size: 20px;
    line-height: 0.7;
    font-family: 'Poppins', sans-serif;
    font-weight: light;
}
.nav-link {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500px;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-item:hover {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #b9b94d;
    margin-bottom: -5px;
    background: rgba(255,255,255,0.1);
    
}

.nav-item:not(.active) .nav-link{
    color: rgba(255,255,255,0.7) !important;
}
.navbar {
    padding-bottom: 20px;
}