body {
    background: url("background.jpg");
}
#top-panel {
    background: rgba(0, 0, 0, 0.75);
    color: white;

    position:relative;
    margin: 0px;
}
.navbar-default { margin : 0 !important; }
.navbar-brand {
    margin-top: 40px;
    margin-bottom: 30px;;
}
#logo {width: 250px;}
h1{
    font-family: 'Le Murmure_Regular';
    font-size: 60px;
    margin-bottom: 0;
}
h2 {
    color: rgba(255,255,255,0.7);
    font-size: 20px;
}
.nav-link {
    text-transform: uppercase;
    font-weight: bold;
}