.post-link {
  background: rgba(0, 0, 0, 0.75);
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
.post-link:hover {
  background: rgba(50, 50, 50, 0.75);
  border-style: solid;
  border-color: white;
  border-width: 0.1px;
  text-decoration: none;
  color: white;
}