body {
    background: url("background.jpg");
}
#top-panel {
    background: rgba(0, 0, 0, 0.75);
    color: white;

    position:relative;
    margin: 0px;
}

#posts-container {
    background: rgb(251, 251, 251);

    position: relative;
    left: 0;
    top: 0;
    float: left;
    min-width: 100%;
    min-height: 100%;
    margin: 0px;
}
.navbar-default { margin : 0 !important; }
.txt-center{text-align: center;}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*#posts-container {padding-top: 10px;}*/
.post{background: url("std_post_bkg.jpg");}
.post{
    margin-top:10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}
.post_preview_txt{
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin-top: 0%;
    margin-left: 30%;
    bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
}
.post_preview_title {
    margin-left: 32%;
    margin-top: 35%;
    margin-bottom: 0;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    display: inline-block;
    color: white;
    background-color: blueviolet;
}